@page "/Index"

@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization;
@attribute [Authorize]


<PageTitle>FinanzApp</PageTitle>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="text-center mb-4">
                <h1 class="display-4 text-primary">FinanzApp</h1>
            </div>
            <div class="text-center mb-4">
                <h4 class="text-muted">Gestiona tus finanzas fácilmente.</h4>
            </div>
            <div class="text-center mb-4">
                <h4 class="text-muted">Controla tus finanzas, alcanza tus metas.</h4>
            </div>
            <AuthorizeView>
                <Authorized>
                    <div class="text-center mb-4">
                        <h4 class="text-success">¡ Bienvenida @context.User.Identity.Name !</h4>
                    </div>
                </Authorized>
            </AuthorizeView>
        </div>
    </div>
</div>

