@page "/"
@layout LoginLayout


@inject HttpClient httpClient
@using FinanzApp.Client.Extensors
@using FinanzApp.Shared
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider autenticacionProvider
@inject NavigationManager navManager


<div class="row mt-5">
    <div class="col-lg-4 offset-lg-4 border rounded p-4 bg-light">

        <div class="mb-3 text-center">
            <h3 class="text-primary">Iniciar Sesión</h3>
        </div>

        <div class="mb-3">
            <label for="Correo" class="form-label text-muted">Correo:</label>
            <input id="Correo" @bind="login.Correo" class="form-control" placeholder="Ingresa tu correo electrónico" />
        </div>

        <div class="mb-3">
            <label for="Clave" class="form-label text-muted">Contraseña:</label>
            <input id="Clave" @bind="login.Clave" class="form-control" type="password" placeholder="Ingresa tu contraseña" />
        </div>

        <div class="d-grid">
            <button @onclick="IniciarSesion" class="btn btn-primary">Iniciar Sesión</button>
        </div>

    </div>
</div>



@code {
    private LoginDTO login = new LoginDTO();

    private async Task IniciarSesion()
    {
        var loginResponse = await httpClient.PostAsJsonAsync<LoginDTO>("/api/Usuario/Login", login);
        if (loginResponse.IsSuccessStatusCode)
        {
            var sesionUsuario = await loginResponse.Content.ReadFromJsonAsync<SesionDTO>();
            var autenticacionExt = (AutenticacionExtension)autenticacionProvider;
            await autenticacionExt.ActualizarEstadoAutenticacion(sesionUsuario);

            navManager.NavigateTo("/Index");
        }
    }

}