@page "/Consultacuenta"
@inject HttpClient httpClient



<EditForm Model="L_Cuentas">
    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header bg-primary text-white">
                <h4>Balance Disponible</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th class="align-middle">Id</th>
                                <th class="align-middle">Usuario</th>
                                <th class="align-middle">Monto</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var cuenta in L_Cuentas)
                            {
                                <tr>
                                    <td>@cuenta.Id</td>
                                    <td>@cuenta.NombreCliente</td>
                                    <td>@cuenta.Monto</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</EditForm>
@code
{
    public string Asunto  { get; set; } = "";
    public int Conteo { get; set; } = 0;
    public Cuenta cuentas { get; set; } = new Cuenta();
    public List<Cuenta> L_Cuentas { get; set; } = new List<Cuenta>();

    protected override async Task OnInitializedAsync()
    {
        var cuentas = await httpClient.GetFromJsonAsync<List<Cuenta>>($"api/Cuenta");

        if(cuentas is not null)
        {
            L_Cuentas = cuentas;
        }
    }
    public async Task Buscar()
    {
        L_Cuentas = await httpClient.GetFromJsonAsync<List<Cuenta>>($"api/Cuenta");

        Conteo = L_Cuentas != null ? L_Cuentas!.Count() : 0;
        StateHasChanged();
    }  
}